<div ng-include src="'views/home/templates/nav.html'"></div>

<div class="container-fluid">
    <h2>Search by Charity Name</h2>
    <input placeholder="FIGHT HUNGER WITH HUNGER"
           ng-model="charityTitle"
           class="form-control"/>
    <button ng-click="model.searchByCharityName(charityTitle)" value="Search" class="btn btn-primary btn-block">
        Search
    </button>
    <div ng-show=model.display>
    <table class="table">
        <thead>
        <tr>
            <th>
                Charity Name
            </th>
            <th>
                Charity Website
            </th>
            <th>
                Category
            </th>
        </tr>
        </thead>
        <tr ng-repeat="charity in model.charities">
            <td>
                <a href="https://www.charitynavigator.org/?bay=search.profile&ein={{charity.ein}}">
                    {{charity.charityName}}
                </a>
            </td>
            <td>
                <a href="{{charity.websiteURL}}">
                {{charity.websiteURL}}
                </a>
            </td>

            <td>
                {{charity.category.categoryName}}
            </td>
        </tr>

    </table>
    </div>


</div>

